/* Estilos dos componentes */

/* .DpFUrSpAcBmMLOINasFh {
  background-color: #160624 !important; 
  color: #fff !important;
} */

.zzHlKp_IVmgXBPV3Jv58 {
  height: auto !important;
}

.MoYxgFm0R7wfd5xpwIir {
  background-color: #20162b !important;
}

.lRNsiz_pTf7YmA5QMh4z {
  background-color: #191122 !important;
}

.D9WLyEQaARfWqCTyVrpU {
  box-shadow: none !important;
  border: none !important;
  background: #1d0830 !important;
}

._M8cCug8H18ALQ05cNMt {
  color: #fff !important;
}

.sJcgXLqA2Va2eqymgksg {
  background: #150821 !important;
}

.VNZilENM9Pb7KbRFOkYR {
  background: #1a1a1a7c !important;
}

.VNZilENM9Pb7KbRFOkYR .rfwQfzz6DVBVPNyQIs9o h3 {
  color: #fff !important;
}

.Ym5tIpCMz8al_AZ4Lk5y {
  background: #ffffff45 !important;
}

.GBqD5akUB0siCNWbAPQr {
  background: #200d30 !important;
}

.sCsSbKP9yxvw4LQAeaTz {
  background: none !important;
}

.ji5jASszKFf2CGCmbxEh {
  background: #160624 !important;
}

.vjwEXnTmP6jAK8LlvWL_>div {
  background-color: #3b274e !important;

  &:hover {
    background-color: #5e4179 !important;
  }
}

.vjwEXnTmP6jAK8LlvWL_ .QeMJj1LEulq1ApqLHxuM {
  background-color: #e8543b !important;

  &:hover {
    background-color: #b83f2a !important;
  }
}

.l6MeDXnwNx_61s2SCcpb {
  background-color: #160624 !important;
  border-color: #31144b !important;
}

.l6MeDXnwNx_61s2SCcpb::after {
  background-color: #160624 !important;
  border-color: #31144b !important;
}

.l6MeDXnwNx_61s2SCcpb>div:hover {
  background-color: #341351 !important;
}

.JtRS8dNV0vDLnpBoA6kZ>div {
  background-color: #3b274e !important;

  &:hover {
    background-color: #5e4179 !important;
  }
}

.M4HRY2n7rpNAd1UjDNZe {
  background: #200D30 !important;
}

.IwZOSgDXLFSgH8L1UBdn {
  background: #200D30 !important;
}

.nBWwl6VwTRoZfXN7bSSA:hover {
  background: #421f5f !important;
}

.hkGTFmd1GeMzMEf8vNW_ .T89FjqHm_Mbbi9RhEqd7.gpv5QjvvMwy1oI5RWxvn:hover {
  background-color: #381f4f6a !important;
}

.xM8CBkrn0wtFOdOP84Bb input {
  background-color: #381f4f6a !important;
}

.bgpkEUtMj48JGNZfveOf {
  background-color: #381f4f6a !important;
}

.j9ygOVxEl2nClTPs77Ta {
  background-color: #191022 !important;
}